@using System.Threading.Tasks
@model dynamic

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";
}

<h2>Choose what do you want to work with?</h2>

@Html.ActionLink("Doctors", "Index", "Doctors")<br>
@Html.ActionLink("Patients", "Index", "Patients")